* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}


html {
	font-size: 62.5%;
}

.container {
	width: 90%;
	margin: 0 auto;
	border: 1px solid red;
}

.header {

	height: auto;
}

.header-container {
	display: flex;
	align-items: center;

	justify-content: space-between;
	padding: 2rem 0;
}

.header-logo {
	display: flex;
	align-items: center;
}

.header-logo h1 {
	font-weight: 700;
	color: #282828;


}

.logo {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: blue;
	margin-right: 10px;
}

.menu ul {
	display: flex;
	list-style: none;
}

.menu ul li a {
	text-decoration: none;
	margin-left: 10px;
	color: #7A7A7A;
	font-size: 2rem;
}